<div class="hotel-card-info">
  <div class="hotel-info-container">
    <img alt="image" src="assets/images/hotel-thumbnail.png" class="hotel-image" />
    <div class="hotel-details">
      <div class="label-bold label-city">{{hotelInfo?.address?.city}}</div>
      <div class="label-bold label-street">{{hotelInfo?.address?.street}}</div>
      <div class="label label-distance">{{getKmDistance(hotelInfo?.distance)}} KM FROM CITY CENTER</div>
      <div class="label-bold label-price">£{{price}}</div>
      <div class="label label-title">{{hotelInfo?.title}}</div>
    </div>
  </div>
  <button class="book-button">Book</button>
</div>
