#map {
  width: 100%;
  height: calc(100% - 52px);
  position: absolute;
  left: 0px;
}

#hotelsSlider {
  position: absolute;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 45%;
  width: 96%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.hotel-info-card {
  background-color: #FFFFFF;


}

.selected {
  background-color: #FFFCA8;
}
